p{
    color: red;
    font-size: 22pt;
}
p#gruby_matusiak{
    color: green;
    font-size: 17pt;
    font-weight: bolder;
}
#dlawszystkich_matusiak{
    color: yellow;
    font-size: 10pt;
    font-weight: bolder;
    font-family: Arial;
}